<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dicee</title>
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Lobster" rel="stylesheet">

  </head>
  <body>

    <div class="container">
      <div >
	  <span class="header">🎲</span>
	  <span class="header"> WhiteHatJr </span>
	  <span class="header">🎲</span></div>

      <div class="dice">
        <p>&nbsp;</p>
        <img class="img1" src="{{ dice_image }}">
        <form action="/">
          <input type="submit" value="Roll">
        </form>
      </div>
    </div>

  </body>
</html>
